body {
  margin: 0;
  background-color: grey;
}
img {
  height: 725px;
  width: 100%;
}
div {
  height: 200px;
}
.section {
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 50%;
  border-radius: 50%;
  border: 15px solid black;
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}